.advantages {
  display: flex;
  gap: 30px;
}

.advantages-item {
  width: calc((100%-90px) / 4);
}

.advantages-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astranaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.advantages-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.advantages-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
